<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="prerender" href="/quiz.html" as="document">
	<script type="module" src="src/pages/introPage.js" defer></script>

    <link rel="stylesheet" type="text/css"  href="src/assets/css/index.css">
    <title>randbox</title>
</head>


<body>
   
    <div class="container">
        <div class="header"></div>    
        <div id="game-container">
            <div class="randbox">
                <img class="box" src="/src/assets/img/ui/open-box.png" />
                <img class="gift" src="#" alt="" />     
            </div>
        </div>   
        <div class="progress"><div class="progress-bar"></div></div>
        <div style="width: auto;" class="popup">
        </div>
        <div class="nav-footer">
            <div class="nav-btn ltBtn">
                <i class="fi fi-rr-up"></i>
            </div>
            <div class="nav-btn midBtn">
                <i class="fi fi-rr-settings-sliders"></i>
            </div>
            <div class="nav-btn rtBtn">
                <i class="plusBtn fi fi-br-info"></i>
            </div>
        </div>
    </div>



</body>
</html>
