<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css"  href="src/assets/css/score.css">
    <script type="module" src="src/pages/scorePage.js" defer></script>
    <link rel="prerender" href="/info.html" as="document">
    <link rel="prerender" href="/quiz.html" as="document">
    <title>score</title>
</head>

<body>
    <div class="container">



        <div class="header">
            <img height="70px" src="src/assets/img/ui/high-score.png">
            <h1 class="score">...</h1>
        </div>
        <div id="game-container">
            <div class="randbox"></div>
        </div>

        <div class="nav-footer">
            <div class="ltBtn">
                <i class="fi fi-rr-angle-left"></i>
            </div>

            <div class="midBtn">
                <i class="fi fi-rr-home"></i>
            </div>

            <div class="rtBtn">
                <i class="fi fi-rr-info"></i>
            </div>



        </div>


    </div>
</body>

</html>
