@import url("index.css");


    .header {
        display: flex;
        gap: 40px;
        justify-content: left;
        width: 100%;
        align-items: center;
    }

    .focus{
        display: block!important;
    }

    .container {
        gap: 70px;
        width: 400px;
    }
    .randbox {
        width: 100%;
        gap: 10px;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: normal;
    }

    .gift{
        opacity: 1;
        height: 50px;
        position: relative;
        z-index: 1;
        top: 0;
        left: 0;
        right: 0;
        animation-name: likeHand;
        animation-duration: 3s;      
        animation-iteration-count: 3; 
        animation-direction: alternate;
    }


    .randbox .onload {
       animation-name: none
    }



    .box:hover{
        cursor:pointer;
    }


    .imgContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        border: 1px solid green;
        padding: 10px 15px;
        border-radius: 2.5px;
    }
	.ui {
	    display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
	}

