.box {
  position: relative;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  animation-name: defaultBox;
  animation-duration: var(--animation-time);
  animation-iteration-count: initial;
  animation-direction: alternate;
}


.box:hover {
  cursor: pointer;
}


.box-anim .box {
  animation-name: lanzar-box-1;
}


.onload .box {
  animation-name: caida-randbox;
  animation-duration: var(--animation-time);
}


.progress{
  position: sticky;
  border-radius: 10px;
  opacity: 0;
}

.playGame .progress{
  opacity: var(--progress-enable);
}

.gift {
  width: 80px;
  height: 80px;
  margin-top: 20px; /*fix*/
  visibility: hidden;
}


.popup-active .progress,
.onload .progress, 
.endgame .progress, 
.endgame .box  {
  opacity: 0;
}


.onload .gift{
  visibility: hidden!important
}


.endgame .gift {
  visibility: hidden!important;
}



.endgame .box {
  animation-duration : .5s;
  animation-name : scale-out-center!important;
}


.box-up .gift {
  visibility: visible;
}



.box-down .gift {
  visibility: hidden;
}



.box-up #game-container{
  overflow: visible;
}

.box-up .randbox {
  height: 100%;
}


.onload .nav-footer {
  opacity: 0;
}

.onStartGame .box {
  -webkit-animation: bounce-in-top 1.1s both;
  animation: bounce-in-top 1.1s both;
}

.range span {
  width: 25px;
  display: inline-block;
}

.popup-active .box {
  display: none;
}

.onStartGame .gift {
  display: none!important;
}


.onload .menu{
  opacity: 0;
}

.controls-submenu img{
  height: 32px;
  width: 32px;
}

.controls-submenu img{
  scale: 1.7;
}

.main-menu,
.options-menu,
.help-menu, 
.controls-submenu,
.resumen-submenu,
.go-menu {
  display: none;
}

.controls-submenu, .options-menu,.resumen-submenu {
  width: 340px;
}

.nav-footer{
  opacity: 0;
}


.main-menu-active .main-menu,
.options-menu-active .options-menu,
.help-menu-active .help-menu,
.resumen-submenu-active .resumen-submenu,
.controls-submenu-active .controls-submenu,
.go-menu-active .go-menu{
  display: block;
}


.popup-active .nav-footer{
  opacity: 1;
}

.main-menu-active .nav-footer,
.go-menu-active .nav-footer{
  opacity: 0!important;
}

.menu {
  text-align: center;
  padding: 0;
  margin: 0;
}

.menu li{
  list-style: none;
  font-size: 20px;
  margin: 19px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.menu li:hover{
  cursor: pointer;
  font-weight: bolder;
}

.menu .fi {
  margin-right: 10px;
}

.popup{
  text-align: center;
  height: fit-content;
}


.main-menu .menu li{
  justify-content: center!important;
  text-align: center;
}

.go-menu {
  font-size: 80px;
}

.resumen-active .popup {
  top: 70vh;
} 

.continue-btn{
  display: var(--continue-game)!important;
}

.menu-options-item{
  display: flex; gap: 10px;
}

.popup {
  width: auto;
}

.center-fix {
  /*intro game*/
  display: flex;
  justify-content: center;
}