


#menu 
.box {   
  position: relative;
  z-index: 1;
  top: 0;
  top: calc(50vh - 100px);
  left: 0;
  right: 0;
  animation-name: defaultBox;
  animation-duration: var(--animation-time);
  animation-iteration-count: initial;
  animation-direction: alternate;
}


#menu 
.onload .box {
    animation: bounce-in-top 1.1s both;
}


#menu 
.onload .box {
    animation: caida-randbox var(--animation-time) !important;
}

#menu 
.onload .popup{
    opacity: 0;
}

#menu
.controls-submenu img{
    height: 32px;
    width: 32px;
}


#menu 
.controls-submenu img{
    scale: 1.7;
}


#menu .range span {
    width: 25px;
    display: inline-block;
  }
/*   
#menu 
.popup-active .box {
    display: none;
  } */


#menu 
.onStartGame .gift {
    display: none!important;
}

#menu .main-menu,
#menu .options-menu,
#menu .help-menu, 
#menu .controls-submenu,
#menu .resumen-submenu,
#menu .go-menu {
  display: none;
}

#menu .controls-submenu, 
#menu .options-menu,
#menu .resumen-submenu {
  width: 340px;
}



#menu .main-menu-active .main-menu,
#menu .options-menu-active .options-menu,
#menu .help-menu-active .help-menu,
#menu .resumen-submenu-active .resumen-submenu,
#menu .controls-submenu-active .controls-submenu,
#menu .go-menu-active .go-menu{
  display: block;
}

#menu 
.popup-active .nav-footer{
  opacity: 1;
}

#menu 
.main-menu-active .nav-footer{
  opacity: 0!important;
}


#menu 
.menu {
  text-align: center;
  padding: 0;
  margin: 0;
  max-height:  calc(100vh - var(--nav-height)* 2 - calc(var(--menu-title-height) * var(--menu-title)) - 100px);
  overflow: auto;
}

#menu 
.menu li{
  list-style: none;
  font-size: 20px;
  margin: 19px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#menu
.menu li:hover{
  cursor: pointer;
  font-weight: bolder;
}

#menu 
.menu .fi {
  margin-right: 10px;
}

#menu 
.popup{
  text-align: center;
  height: fit-content;
}

#menu 
.main-menu .menu li{
  justify-content: center!important;
  text-align: center;
}



#menu 
.resumen-active .popup {
  top: 70vh;
} 

#menu 
.continue-btn{
  display: var(--continue-menu)!important;
}

#menu 
.score-btn{
  display: var(--score-menu)!important;
}

#menu 
.menu-options-item{
  display: flex; gap: 10px;
}

#menu 
.popup {
  width: auto;
}

#menu 
.nav-footer{
    opacity: 0;
}


#menu 
.tutorial-menu{
  list-style: auto;
  display: block;
  width: 520px;
}

#menu 
.tutorial-menu ul {
  padding-inline-end: 0;
  padding-inline-start: 0;
  margin-inline-start: 40px;
  margin-inline-end: 20px;
}

#menu 
.tutorial-menu li {
  display: revert;
  list-style: auto;
  text-align: -webkit-auto;
  margin: 10px 0;
  max-width: 520px;
}


#menu 
.tutorial-menu .fi {
  margin: 10px;
  bottom: -4px;
  position: relative;
}


#menu 
.separador {
  font-weight: bolder;
}

#menu 
.help-menu {
  min-width: 300px;
}


#menu 
.close-btn{
  position: fixed;
  border-radius: 20px;
  padding: 10px;
  border: 3px solid;
  left: -4.5%;
  top: -4.5%;
  width: 15px;
  height: 15px;
  background: var(--primary);
  color:white;
}

#menu 
.close-btn:hover{
  background: white;
  color:var(--primary);
  cursor: pointer;
}

#menu 
.menu-title{
  margin-bottom: 10px;
  margin-top: 0px;
  height: var(--menu-title-height);
}

#menu 
.menu-title i{
  transform: translate(-10px, 5px);
  position: relative;
  display: inline-block;
}



#menu .menu-group {
  margin-left: 16px;
  transition: height 1s ease;
}


.collapse{
  overflow: auto;
  height: auto;
  transition: height 1s ease;
}

.expande{
  height: 0;
  overflow: hidden;
  transition: height 1s ease;
}

.hide {
  height: 0;
  overflow: hidden;
  transition: height 1s ease;
}

#menu .menu-group-title{
  position: relative;
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  margin-inline: 3px;
}


#menu .root-btn{
  display: none;
}




/*Intancia tutorial desde otras paginas*/

.tutorial-from-intro .tutorial-tips,
.tutorial-from-intro .tutorial-quiz{
  display: none;
}

.tutorial-from-quiz .tutorial-intro{
  display: none;
}