
.score .focus {
  display: block !important;
}

.score .randbox {
  width: 100%;
  gap: 10px;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: normal;
  justify-content: center;
}

.score .gift {
  position: relative;
  height: 50px;
  width: 50px;
  opacity: 1;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  animation-name: likeHand;
  animation-duration: 3s;
  animation-iteration-count: 3;
  animation-direction: alternate;
  -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
  animation: heartbeat 1.5s ease-in-out infinite both;
}


.score .randbox .onload {
  animation-name: none;
}



.score .box:hover {
    cursor: pointer;
}


.score .gift-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 1px solid var(--primary);
  padding: 10px 15px;
  border-radius: 2.5px;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
}

.score .score-bar {
  display: flex;
  gap: 10px;
}

.score-item {
  height: 35px;
}