@import url("index.css");
@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-bold-rounded/css/uicons-bold-rounded.css');
@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import url('../assets/animalista.css');


.header{
  margin-bottom: calc(10vh + var(--bar-height));
}

.popupBtn{
  opacity: 0;
}

.tryAgainBtn,
.verScoreBtn {
  opacity: 1;
  display: block;
  position: absolute;
  background-color: white;
  border-radius: 100%;
  bottom: -15px;
  left: calc(50% - var(--popup-btn-width)/2);
  width: var(--popup-btn-width);
  bottom: -40px;
  font-size: 60px;
  transition: scale .3s;
}

.tryAgainBtn:hover, .verScoreBtn:hover{
  cursor: pointer;
  scale: 1.1;
}

.cantAp,
.popup {
  text-align: center;
  transition: opacity .7s;
  background-color: white;
  z-index: 1;
}

.popup {
  opacity: 0;
  box-sizing: border-box;
  position: absolute;
  color: var(--primary);
  border: 4px solid;
  border-radius: 15px;
  padding: 10px;
  min-width: var(--popup-width);
  height: 180px;
  width: 180px;
  z-index: 1000;
}

.btnContainer,
.heart-bar {
  flex-direction: row;
}

.heart-bar {
  display: flex;
  gap: 10px;
  justify-content: center;
  color: red;
  transition: color 4s;
}

.cantAp {
  margin-top: 56px;
  border-radius: 100px;
  width: 125px;
  position: relative;
  font-size: 100px;
  opacity: 0.6;
}


.popup-ico {
  animation-name: likeHand;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  width: 100px;
  height: 100px;
}

.box {
  height: 120px;
  width: 120px;
  display: block;
  z-index: initial;
}


.popup,
.puntos {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.puntos {
  opacity: 0;
  top: 30px;
  font-size: 30px;
  font-weight: 700;
  transition: opacity .5s ease-in-out;
  z-index: 1000;
}



.heart {
  width: 30px;
}



.progress {
  padding: var(--bar-height);
  position: absolute;
  width: 100%;
  border-radius: unset;
  box-sizing: border-box;
  top: 0;
  left: 0;
}

.progress-bar {
  background-color: green;
  width: 0;
}



#game-container:hover {
  cursor: pointer;
}



.nav-footer i:hover{
  cursor: pointer;
}



.box {
  -webkit-animation: bounce-in-fwd 1.1s both;
  animation: bounce-in-fwd 1.1s both;
}


.userReiniciaPartida .popup,
.userReiniciaPartida .heart-bar {
  opacity: 1!important;
}

.userReiniciaPartida .popup-btn,
.userReiniciaPartida .puntos {
  opacity: 0!important;
}



.userGana .progress-bar {
  width: 100%!important;
}


/**/


.cantAp {
  z-index: 1001;
  transition: z-index 1s;
}

.box {
  margin-inline: auto;
}

.box-container, .cantAp{
  width: 100%;
}

/**/

.userPierde .cantAp,
.userGana .cantAp,
.userRespondeBien .cantAp,
.userRespondeMal .cantAp,
.userReiniciaPartida .cantAp {
  z-index: 1;
}

.userPierde .popup-container,
.userGana .popup-container,
.userRespondeBien .popup-container,
.userRespondeMal .popup-container,
.userReiniciaPartida .popup-container {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: auto;
  box-sizing: border-box;
  z-index: 999;  
  background-color: rgba(255, 255, 255, 0.4);
}

.userPierde .puntos,  
.userPierde .heart-bar, 
.userGana .heart-bar,
.userGana .puntos {
  opacity: 0;
}

.userPierde .popup, 
.userGana .popup {
  opacity: 1;
}

.userRespondeBien .puntos {
  color: green;
  opacity: 1;
}

.userRespondeBien .popup, 
.userRespondeMal .popup {
  opacity: 1;
}

.userRespondeBien .popup, 
.userRespondeMal .popup {
  opacity: 1;
}


.userRespondeMal .puntos {
  color: red;
  opacity: 1;
}

.userRespondeMal .heart-bar {
  color: black;
}



#game-container {
  width: 100%;
  height: 70vh;
  overflow: overlay;
}

