@import url("index.css");

/* @import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-bold-rounded/css/uicons-bold-rounded.css'); */
@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-thin-straight/css/uicons-thin-straight.css');
@import url("../assets/animalista.css");


.focus {
  display: block !important;
}

.randbox {
  width: 100%;
  gap: 10px;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: normal;
  height: 70vh;
  overflow-y: auto;
  overflow-x: hidden;
  justify-content: center;
}

.gift {
  opacity: 1;
  height: 50px;
  position: relative;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  animation-name: likeHand;
  animation-duration: 3s;
  animation-iteration-count: 3;
  animation-direction: alternate;
  -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
  animation: heartbeat 1.5s ease-in-out infinite both;
}


.randbox .onload {
  animation-name: none;
}



.box:hover {
    cursor: pointer;
}


.imgContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 1px solid var(--primary);
  padding: 10px 15px;
  border-radius: 2.5px;
  margin-bottom: 15px;
  justify-content: space-between;
}





.resetBtn i, .checkBtn i, .plusBtn i {
  display: block;
  height: 16px;
  padding: 14px;
  border-radius: 100%;
  background: #d9d4d4;
  border-radius: 100%;
  color: var(--primary);
  opacity: .3;
}

.resetBtn i {
  color: white;
  background: var(--primary);
  scale: 1.4;
  opacity: 1;
}

.ui {
  padding: 15px;
  border-top: 1px solid;
  border-color: rgb(128 128 128 / 50%);
}

.ui i:hover{
  cursor: pointer;
}


