
    :root {
        --bg-default: #fff;
        --bg-violeta: #9900ffc0;
        --bg-rojo:#ff0000c0;
        --bg-azul: #0000ffc0;
        --bg-amarillo:#ffff00c0;
        --bg-blanco:#fff;
        --bg-magenta:#ff00ffc0;
        --bg-naranja: #ffa500c0;
    }
    body{
        height: 100vh;
        background-color: var(--bg-default);
        transition: background-color 1.5s;
    }

    body, div, p{
        margin: 0;
    }

    * {
        -webkit-tap-highlight-color: transparent;
    }

    body, .container, .randbox{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container {
        margin: auto;
        max-width: 1200px;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }

    .container img:hover{
        cursor: pointer;
    }

    .randbox {
        gap: 50px;
        flex-wrap: wrap;
        margin-bottom: 40vh;
    }
    .randbox_img{
        position: relative;
        width: 120px;
        transition: opacity 3s;
        z-index: 1;
        top: 0;
        left: 0;
        right: 0;
        animation-name: defaultrandbox;
        animation-duration: 3s;                                                  
        animation-iteration-count: initial; 
        animation-direction: alternate;
    }


    .randbox .onload {
        animation-name: inicialrandbox!important;
    }

    .tirarrandbox{
        animation-name: tirarrandbox !important;
    }

    .randbox_img:hover{
        cursor:pointer;
    }

    .randbox_msg {
        color: white;
        font-size: 50px;
        font-weight: 800;
        position: absolute;
        opacity: 0;
        transition: opacity 4s;
    }

    .cantAp,.cartel {
        text-align: center;
        transition: opacity .7s;
        position: absolute;
        background-color: white;
        z-index: 1;
    }

    .cartel{
        opacity: 1;
        color: green; 
        border: 1px solid; 
        padding: 10px; 
        max-width: 400px;
    }
    .cartel h2{
        border: 1px solid;
        padding: 20px;
    }

    .btnContainer {
        flex-direction: row;
    }

    .salud {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    .cantAp {
        position: relative;
    }

@keyframes inicialrandbox {
  0% {top: -100vh;}
  50% {top: 30vh;}
  100% {top: 0;transform: rotate(360deg);}
}


@keyframes defaultrandbox {
  0% { top: 0; opacity:1;}
  50% {top: -30vh; opacity: 1;}
  100% { top: 0; transform: rotate(360deg); }
}

@keyframes tirarrandbox {
  0% { top: 0; opacity:1; }
  50% { top: -30vh; opacity: 1; }
  100% { top: 0; transform: rotate(360deg);}
}

