
@import url("quiz.css");

body {
    justify-content: space-between;
    /* max-width: 600px ;
    margin-inline: auto; */
    overflow: hidden;
}
.container {
    margin: initial;
    max-width: 400px;
}

.barraCarga {
    position: sticky;
    top: 50px;
    width: 100%;
    border-radius: 0;
}
.carga {
    background-color: green;
}

.ui {
    width: 100%;
    justify-content: space-around;
    border-radius: 0;
    border-radius: 0;
    /* 
    background-color: #80808087;
    border-radius: 35px;
    padding: 13px; 
    */

}

/* upt */

   .cantAp {
   border-radius: 100px;
   background-color: #80808087;
   width: 125px;
   margin-top: 56px;
   }

   .cartel {
     width: 100vw;
     max-width: none;
     transform: none!important;
     height: 200px;
   }

   .cartel-container {
        max-width: none;
   }
   .verScoreBtn, .tryAgainBtn{
        left: calc(50% - 35px);
        width: 70px;
        bottom: -30px;
   }

   .msg {
    width: 150px;
   }
   .heart {
    width: 40px;
   }