@import url("index.css");

.focus {
  display: block !important;
}



.randbox {
  width: 100%;
  gap: 10px;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: normal;
  height: 70vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.gift {
  opacity: 1;
  height: 50px;
  position: relative;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  animation-name: likeHand;
  animation-duration: 3s;
  animation-iteration-count: 3;
  animation-direction: alternate;
}


.randbox .onload {
  animation-name: none
}



.box:hover {
    cursor: pointer;
}


.imgContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  border: 1px solid green;
  padding: 10px 15px;
  border-radius: 2.5px;
  margin-bottom: 15px;
}



/* .imgContainer:first-child{
        margin-top: 20px;
    } */